$globalFontSize: 1;

$body-font-stack:  'Arial', sans-serif;

$body-color: #8a8c99;
$heading-color: #8a8c99;
$accent-color: #4fb76c;

@import "bourbon/bourbon";
@import "neat/neat";
@import "mixins";

