body,
html {
  min-height: 100%;
  height: 100%;
  background: $accent-color;
}

@media #{$desktop} {
  body {
    overflow: hidden;
  }
}


header {
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
}

@media #{$desktop} {
  header {
    overflow: visible;
    img {
      /*-webkit-filter: saturate(2);
      filter: saturate(2); */
    }
  }
}


.logo {
  display: block;
  background: #fff;
  padding: $base-padding;
  text-align: center;
  @include box-sizing(border-box);
  img {
    width: 68px;
  }
  span {
    font-size: 30px;
    line-height: 68px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
    color: $alternate-color;
  }
  em {
    color: $accent-color;
    font-style: normal;
    font-weight: 100;
  }
}

@media #{$desktop} {
  .logo {
    display: block;
    position: absolute;
    width: 280px;
    height: 60px;
    top: 20px;
    right: 20px;
    overflow: hidden;
    z-index: 20;
    opacity: 0.5;
    border-radius: 40px;
    background: none;
    padding: 0;
    @include transition(opacity 0.3s);
    img {
      position: absolute;
      right: 0;
      width: 60px;
      height: 60px;
      bottom: auto;
      @include border-radius(3px);
    }
    span {
      position: absolute;
      left: 220px;
      font-size: 30px;
      line-height: 60px;
      font-weight: 700;
      z-index: -1;

      @include transition(left 0.5s);
    }

    &:hover {
      @include transition(opacity 0.3s);
      opacity: 1;
      span {
        left: 0px;
        @include transition(left 0.5s);
      }
    }
  }
}


.tagline {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 1px;
  bottom: 10px;
  padding: 0 10px;
  background: rgba($d-link-color,0.8);
  @include box-sizing(border-box);
}

@media #{$desktop} {
  .tagline {
    top: 100px;
    bottom: auto;
    color: #fff;
    background: none;
    text-shadow: 0 0 10px $shadow-color;
    padding: 0;

    &:before{
      position: absolute;
      content: '}';
      font-family: Times New Roman;
      font-size: 650px;
      font-weight: 100;
      text-align: center;
      top: -360px;
      width: 875px;
      opacity: 0.2;
      @include transform(rotate(90deg) scaleY(1.5));
    }
  }
}


nav {
  background: #fff;
  text-align: center;
  a {
    width: 20%;
    text-align: center;
    display: inline-block;
    padding: $base-padding;

    @include box-sizing(border-box);
  }
  [class^="icon-"],
   [class*=" icon-"] {
     display: inline-block;
     &:before {
       display: none;
     }
   }

}

@media #{$desktop} {
  nav {
    a {
      position: absolute;
      z-index: 10;
      color: #fff;
      text-shadow: 0 0 10px $shadow-color;
      //@todo fix mixin to support multiple transitions and use below
      transition: background-color 0.5s, bottom 0.5s;
      -webkit-transition: background-color 0.5s, bottom 0.5s;
      &:hover {
        color: $accent-color;
        transition: background-color 0.5s, bottom 0.5s;
        -webkit-transition: background-color 0.5s, bottom 0.5s;
        span {
          opacity: 1;
          @include fade-in(0.5s);
        }
      }
      &:before {
        font-size: 40px;
      }
    }

    [class^="icon-"],
    [class*=" icon-"] {
      &:before {
        display: block;
      }
    }

    span {
      color: #fff;
      font-family: $body-font-stack;
      position: absolute;
      top: -20px;
      left: -10px;
      width: 60px;
      text-align: center;
      @include fade-out(0.5s);
    }

    .who {
      bottom: 55%;
      left: 11%;
      &:hover {
        bottom: 54%;
      }
    }

    .what {
      bottom: 47%;
      left: 32%;
      &:hover {
        bottom: 46%;
      }
    }

    .when {
      bottom: 51%;
      left: 57%;
      &:hover {
        bottom: 50%;
      }
    }

    .where {
      bottom: 73%;
      left: 54.2%;
      &:hover {
        bottom: 72%;
      }
    }

    .why {
      bottom: 56%;
      left: 88%;
      &:hover {
        bottom: 55%;
      }
    }
  }
}


section {
  margin: $base-padding;
  border-bottom: 1px solid darken($accent-color, 5%);

  img {
    max-width: 100%;
  }

  p,
  address {
    margin: 0 0 15px 0;
  }
}

.close {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 25;
  color: #fff;
  background: $accent-color;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  @include border-radius(30px);
  @include transition(background 0.5s);
  &:hover {
    background: #fff;
    @include transition(background 0.5s);
  }
}

@media #{$desktop} {
  section {
    background: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    margin: 0;
    padding: 20px;
    z-index: 25;
    @include box-sizing(border-box);
    @include slide-out(1s);
    @include clearfix();
    div {
      width: 40%;
      float: left;
      padding-right: 15px;
      border-right: 1px solid $accent-color;
    }
    aside {
      width: 50%;
      float: left;
      padding-left: 20px;
      img {
        max-width: 70%;
        margin: 1px auto;
      }
    }
    &:target {
      @include slide-in(1s);
    }
  }

  section:target .close {
    display: inline-block;
  }
}

.people {
  margin: 0 0 0 -10px;
  padding: 0;
  overflow: hidden;
  list-style: none;
  li {
    float: left;
    margin-bottom: 10px;
    width: (100% / 3);
    height: 130px;
  }
}
@media #{$desktop} {
  .people {
    img {
      width: 100%;
      max-width: 100%;
    }
    li {
      width: (100% / 6);
      height: auto;
    }
  }
}


.profile {
  text-align: center;
  img {
    width: 80px;
    height: auto;
    border-radius: 50px;
    border: 0px solid $accent-color;
    @include box-sizing(border-box);
    @include transition(border 0.5s);
  }
  span {
    padding: 0 10px;
    display: block;
    text-transform: capitalize;
  }
}
@media #{$desktop} {
  .profile {
    &:hover {
      img {
        border: 5px solid $accent-color;
        @include transition(border 0.5s);
      }
    }

    img {
      height: 80px;
    }
  }
}

footer {
  display: none;
}


