body {
  background: $accent-color;
}

@media #{$desktop} {
  body {
    overflow: hidden;
  }
}


header {
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
}

nav {
  background: #fff;
  a {
    width: 20%;
    text-align: center;
    display: inline-block;
    padding: $base-padding;
    @include box-sizing(border-box);
  }
}

@media #{$desktop} {
  header {
    height: auto;
    overflow: visible;
  }
}


section {
  margin: $base-padding;
  border-bottom: 1px solid darken($accent-color, 5%);
}


