body {
  font-family: $body-font-stack;
  color: $m-body-color;
}

h1 {
  color: $m-heading-color;
  margin-top: 0;
  @include rem(rem, 22);
}

a {
  color: $m-link-color;
  text-decoration: none;
  &:hover {
    color: darken($m-link-color, 25%);
  }
}

@media #{$desktop} {
  body {
    color: $d-body-color;
  }

  h1 {
    color: $d-heading-color;
  }

  a {
    color: $d-link-color;
    &:hover {
      color: darken($d-link-color, 10%);
    }
  }
}