h1 Contact

- var twitter = 
p For the moment the most reliable method of contacting us is via 
  a(href="https://twitter.com/webdev42", target="_blank") Twitter
  | . We're working hard to offer alternatives to this.
