h1 Events

p.
  The Web Developer 42° meetup takes place on the last Wednesday of every month.

p Information relating to the upcoming meetup can be found on our 
  a(href="http://lanyard.com/2013/wd42", target="_blank") Lanyrd
  |  page.

p You can also check out the topics covered in previous meetups from the 
  a(href="http://lanyrd.com/series/wd42", target="_blank") Web Developer 42° series
  |  page on Lanyrd.
