h1 So what's it all about?

p.
  Since it's inception Web Developer 42&deg; has sought out to become the
  premier web developer centric meetup in Tasmania. Offering a friendly and 
  inviting setting while also aiming to empower and encourage the emerging
  number of talented Tasmanian web developers.

p.
  Acting not only a central point for the community to gather and geek
  out, but also as a platform for those wanting to take on the national
  or global stage by way of offering a way for those wanting to to cut
  their teeth and gather feedback on their craft a means to do so with a
  supportive community behind you anything is possible.

p.
  So if this sounds like something you'd be into, please come along and
  share with us some of the incredible experiences that come from being
  a part of a passionate community of people.
  
p.
  Oh and best of all, Web Developer 42&deg; is completely free to attend!
  
