extends layout

block content
  header
    a.logo(href="#landing")
      img(src="/img/logo-min.png", title="Web Developer 42&deg;")
      span web
        em developer
    img.featureImage(src="/img/feature.jpg")
    nav
      a.who(href="#who")
        span Who
      a.what(href="#what")
        span What
      a.when(href="#when")
        span When
      a.where(href="#where")
        span Where
      a.why(href="#why")
        span Why
  section#who
    a.close(href="#")
      i.icon-remove
    article
      h1 Who are the speakers? AYE?
      ul.speakers
        each speaker in speakers
          li.profile
            a(href=speaker.profile)
              img(src=speaker.image, title=speaker.name)
              span=speaker.name

  section#what
    a.close(href="#")
      i.icon-remove
    article
      h1 Heading!
      p WHAT!
  section#when
    a.close(href="#")
      i.icon-remove
    article
      h1 Heading!
      p When page
  section#where
    a.close(href="#")
      i.icon-remove
    article
      h1 Heading!
      p Wherepage
  section#why
    a.close(href="#")
      i.icon-remove
    article
      h1 Heading!
      p WHYYYYYYYYY

  footer
    p Feet.
