extends layout

block content
  header
    a.logo(href="#landing")
      img(src="../img/wd42.png", alt="Web Deverloper 42&deg;")
    img.featureImage(src="http://www.rosebay.tased.edu.au/webcam/large.jpg")
    nav
      a(href="#who") Who
      a(href="#what") What
      a(href="#when") When
      a(href="#where") Where
      a(href="#why") Why
  section#lading
    article
      h1 Heading!
      p Landing page
  section#who
    article
      h1 Heading!
      p The Who page
  section#what
    artcle
      h1 Heading!
      p WHAT!
  section#when
    article
      h1 Heading!
      p When page
  section#where
    article
      h1 Heading!
      p Wherepage
  section#why
    article
      h1 Heading!
      p WHYYYYYYYYY
  footer
    p Feet.
