extends layout

block content
  header
    a.logo(href="#landing")
      img(src="../img/wd42.png", alt="Web Deverloper 42&deg;")
    img.featureImage(src="http://www.rosebay.tased.edu.au/webcam/large.jpg")
    nav
      a(href="#who") Who
      a(href="#what") What
      a(href="#when") When
      a(href="#where") Where
      a(href="#why") Why
  section#lading
    artcile
      p Landing page
  section#who
    artcile
      p The Who page
  section#what
    artcile
      p WHAT!
  section#when
    artcile
      p When page
  section#where
    artcile
      p Wherepage
  section#why
    artcile
      p WHYYYYYYYYY
  footer
    p Feet.
