extends layout

block content
  header
    a.logo(href="#landing")
      img(src="/img/logo-min.png", title="Web Developer 42&deg;")
      span web
        em developer
    h1.tagline WD42 - The closest web dev meetup to Antarctica
    img.featureImage(src="/img/feature.jpg")
    nav
      a.who.icon-map-marker(href="#who")
        span Who
      a.what.icon-map-marker(href="#what")
        span What
      a.when.icon-map-marker(href="#when")
        span When
      a.where.icon-map-marker(href="#where")
        span Where
      a.why.icon-map-marker(href="#why")
        span Why

  section#who
    a.close(href="#")
      i.icon-remove
    article
      include ./content/who

  section#what
    a.close(href="#")
      i.icon-remove
    article
      include ./content/what

  section#when
    a.close(href="#")
      i.icon-remove
    article
      include ./content/when

  section#where
    a.close(href="#")
      i.icon-remove
    article
      include ./content/where

  section#why
    a.close(href="#")
      i.icon-remove
    article
      include ./content/why

  footer
    p Feet.
