extends layout

block content
  header
    a.logo(href="#landing")
      img(src="/img/logo.png", title="Web Developer 42&deg;")
    img.featureImage(src="/img/feature.jpg")
    nav
      a.who(href="#who") Who
      a.what(href="#what") What
      a.when(href="#when") When
      a.where(href="#where") Where
      a.why(href="#why") Why
  section#who
    article
      h1 Heading!
      p The Who page
      a(href="#") Test Link!
  section#what
    article
      h1 Heading!
      p WHAT!
  section#when
    article
      h1 Heading!
      p When page
  section#where
    article
      h1 Heading!
      p Wherepage
  section#why
    article
      h1 Heading!
      p WHYYYYYYYYY

  a.close(href="#") X
  footer
    p Feet.
