extends layout

block content
  header
    a.logo(href="#landing")
      img(src="/img/logo-min.jpg", title="Web Developer 42&deg;")
      span web
        em developer
    img.featureImage(src="/img/feature.jpg")
    nav
      a.who(href="#who")
        span Who
      a.what(href="#what")
        span What
      a.when(href="#when")
        span When
      a.where(href="#where")
        span Where
      a.why(href="#why")
        span Why
  section#who
    article
      h1 Who are the speakers? AYE?
      ul.speakers
        li.profile
          a(href="#")
            img(src="/img/profile.png", title="Some fool!")
            span Casey Benny
        li.profile
          a(href="#")
            img(src="/img/profile.png", title="Some fool!")
            span Casey Benny
        li.profile
          a(href="#")
            img(src="/img/profile.png", title="Some fool!")
            span Casey Benny
        li.profile
          a(href="#")
            img(src="/img/profile.png", title="Some fool!")
            span Casey Benny
        li.profile
          a(href="#")
            img(src="/img/profile.png", title="Some fool!")
            span Casey Benny
        li.profile
          a(href="#")
            img(src="/img/profile.png", title="Some fool!")
            span Casey Benny
        li.profile
          a(href="#")
            img(src="/img/profile.png", title="Some fool!")
            span Casey Benny
        li.profile
          a(href="#")
            img(src="/img/profile.png", title="Some fool!")
            span Casey Benny
        li.profile
          a(href="#")
            img(src="/img/profile.png", title="Some fool!")
            span Casey Benny
        li.profile
          a(href="#")
            img(src="/img/profile.png", title="Some fool!")
            span Casey Benny
        li.profile
          a(href="#")
            img(src="/img/profile.png", title="Some fool!")
            span Casey Benny
        li.profile
          a(href="#")
            img(src="/img/profile.png", title="Some fool!")
            span Casey Benny
  section#what
    article
      h1 Heading!
      p WHAT!
  section#when
    article
      h1 Heading!
      p When page
  section#where
    article
      h1 Heading!
      p Wherepage
  section#why
    article
      h1 Heading!
      p WHYYYYYYYYY

  a.close(href="#") X
  footer
    p Feet.
