extends layout

block content
  header
    a.logo(href="#landing")
      img(src="/img/logo-min.png", title="Web Developer 42&deg;")
      span web
        em developer
    h1.tagline WD42 - Almost the closest web dev meetup to Antarctica.
    img.featureImage(src="/img/feature.jpg")
    nav
      a.who.icon-map-marker(href="#community")
        span Community
      a.what.icon-map-marker(href="#about")
        span About
      a.when.icon-map-marker(href="#events")
        span Events
      //-a.where.icon-map-marker(href="#coverage")
      //-  span Coverage
      a.why.icon-map-marker(href="#contact")
        span Contact

  section#community
    a.close(href="#")
      i.icon-remove
    article
      include ./content/community

  section#about
    a.close(href="#")
      i.icon-remove
    article
      include ./content/about

  section#events
    a.close(href="#")
      i.icon-remove
    article
      include ./content/events

  //-section#coverage
  //-  a.close(href="#")
  //-    i.icon-remove
  //-  article
  //-    include ./content/coverage

  section#contact
    a.close(href="#")
      i.icon-remove
    article
      include ./content/contact

  footer
    p Feet.
