doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Exo:400,700,100')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/js/main.js')
  body
    block content